@import 'tailwindcss';

@theme {
	--font-sans:
		'IBM Plex Sans', -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, 'Helvetica Neue', Arial,
		sans-serif;
	--font-mono: 'JetBrains Mono', monospace;
}

@layer base {
	body {
		@apply min-h-screen bg-slate-950 text-slate-50 antialiased;
		font-family: var(--font-sans);
	}
}
